In [31]:
from IPython.display import display
import pandas as pd
pd.set_option('display.max_rows', 500)

data = pd.read_json('H6.json')['results']
df_normalized = pd.json_normalize(data)
#df_normalized.to_excel('H6.xlsx')

In [33]:
print(df_normalized.info())
display(df_normalized)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6940 entries, 0 to 6939
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                6940 non-null   object
 1   text              6940 non-null   object
 2   parent            6940 non-null   object
 3   isLeaf            6940 non-null   object
 4   aggrlevel         6940 non-null   int64
 5   standardUnitAbbr  6940 non-null   object
dtypes: int64(1), object(5)
memory usage: 325.4+ KB
None

,id,text,parent,isLeaf,aggrlevel,standardUnitAbbr
0,TOTAL,Total - All H6 commodities,#,0,0,n/a
1,01,01 - Animals; live,TOTAL,0,2,n/a
2,0101,"0101 - Horses, asses, mules and hinnies; live",01,0,4,n/a
3,010121,"010121 - Horses; live, pure-bred breeding animals",0101,1,6,u
4,010129,"010129 - Horses; live, other than pure-bred br...",0101,1,6,u
...,...,...,...,...,...,...
6935,970610,970610 - Antiques; of an age exceeding 250 years,9706,1,6,kg
6936,970690,970690 - Antiques; of an age exceeding 100 yea...,9706,1,6,kg
6937,99,99 - Commodities not specified according to kind,TOTAL,0,2,n/a
6938,9999,9999 - Commodities not specified according to ...,99,0,4,n/a
6939,999999,999999 - Commodities not specified according t...,9999,1,6,n/a

In [ ]:
a = '8401' #nuclear elements
b = '2844' #radioactive chemical elements

begins_with = ['8401', '2844',]